body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #1F1B24;
}

.nav {

    background-color: #2C2535;
    color: #E0E0E0;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

.nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(41, 39, 48);
}

.nav ul li {
    float: left;

}

.nav ul li.right {
    float: right;

}

.nav ul li a {
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    font-size: 30px;
    display: block;
    text-decoration: none;
}

.nav ul li a:hover, .dropDownMenu:hover .mainButton {
    background-color: #505050;
}


.dropDownContent {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: rgb(61, 61, 78);
}

.dropDownContent a {
    
}
.dropDownContent a:hover {
    background-color:rgb(115, 115, 124) !important;
}
.dropDownMenu:hover .dropDownContent {
    display: block;
}
.topSpace {
    margin: 24px;
    margin-top: 25px;
}



.introduction h1 {
    font-size: 35px;
    color: #E0E0E0;
}

.introduction h2 {
    font-size: 25px;
    color: #E0E0E0;
}

.introduction p {
    font-size: 17px;
    text-indent: 32px;
    color: #E0E0E0;
}
